# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.tmp

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
# dist/ This directory is used by jQuery and Bootstrap
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Packages
*.egg-info
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.tox
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
*/docs/_build/*

# PyBuilder
target/

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# PyBuilder
target/

# Complexity
output/*.html
output/*/index.html

.webassets-cache

# Virtualenvs
env/
.venv

# PyCharm
.idea/

# Database
*.db

.scrapy
