[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Fetch from Github to fix this bug: https://github.com/scrapy/scrapy/issues/2914
scrapy = {git = "https://github.com/scrapy/scrapy.git", editable = true}
googlemaps = "*"
keyring = "*"
requests = "*"
imapclient = "*"
arrow = "*"
marshmallow = "*"
click = "*"
plumbum = "*"
prettyconf = "*"
flask = "*"
markupsafe = "*"
werkzeug = "*"
"jinja2" = "*"
itsdangerous = "*"
flask-admin = "*"
flask-marshmallow = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
"psycopg2" = "*"
marshmallow-sqlalchemy = "*"
flask-migrate = "*"
flask-wtf = "*"
wtforms = "*"
gunicorn = "*"
toml = "*"

[dev-packages]
flask-debugtoolbar = "*"
flask-script = "*"
pytest = "*"
pytest-runfailed = "*"
webtest = "*"
factory-boy = "*"
faker = "*"
ipdb = "*"
coverage = "*"
pytest-cov = "*"
sphinx = "*"
"flake8" = "*"
"flake8-blind-except" = "*"
"flake8-bugbear" = "*"
"flake8-comprehensions" = "*"
"flake8-debugger" = "*"
"flake8-docstrings" = "*"
"flake8-isort" = "*"
"flake8-mypy" = "*"
"flake8-polyfill" = "*"
"flake8-pytest" = "*"
"flake8-quotes" = "*"
