{% extends "layout.html" %}

{% block content %}
    <div class="body-content">
        <h1>{{ count }} apartments</h1>

        <form method="GET" action="" role="form">
            {{ search_form.hidden_tag() }}
            <div class="row">
                <div class="form-group col-md-1">
                    {{ search_form.days.label }}
                    {{ search_form.days(class_="form-control") }}
                </div>
                <div class="form-group col-md-1">
                    {{ search_form.min_rooms.label }}
                    {{ search_form.min_rooms(class_="form-control") }}
                </div>
                <div class="form-group col-md-1">
                    {{ search_form.max_rooms.label }}
                    {{ search_form.max_rooms(class_="form-control") }}
                </div>
                <div class="form-group col-md-2">
                    {{ search_form.max_warm_rent.label }}
                    {{ search_form.max_warm_rent(class_="form-control") }}
                </div>
                <div class="form-group col-md-2">
                    {{ search_form.max_time_to_pin.label }}
                    {{ search_form.max_time_to_pin(class_="form-control") }}
                </div>
                <div class="form-group col-md-2">
                    {% for radio in search_form.preset_sort %}
                        <tr>
                            <td>{{ radio }} {{ radio.label }}</td>
                        </tr>
                    {% endfor %}
                </div>
                <div class="form-group col-md-2">
                    <input class="btn btn-default btn-submit" type="submit" value="Filter">
                </div>
            </div>
        </form>

        <div class="row">
            {{ table }}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            $('select.opinion').change(function () {
                $.ajax({
                    method: 'POST',
                    url: '{{ url_for('public.apartments_opinion') }}',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        apartment_id: $(this).data('apartment-id'),
                        opinion_id: $(this).val()
                    })
                });
            });

            // Submit form when radio button is clicked.
            $('input[type=radio]').on('change', function () {
                $(this).closest("form").submit();
            });
        });
    </script>
{% endblock %}
