{% extends "layout.html" %}

{% block content %}
    <div class="body-content">
        <h1>{{ count }} apartments</h1>

        <form method="GET" action="" role="form">
            {{ search_form.hidden_tag() }}
            <div class="row">
                <div class="form-group col-md-2">
                    {{ search_form.days.label }}
                    {{ search_form.days(placeholder="Last days", class_="form-control") }}
                    {{ search_form.direction }}
                </div>
                <div class="form-group col-md-4">
                    {{ search_form.opinion.label }}
                    {{ search_form.opinion(class_="form-control") }}
                </div>
                <div class="form-group col-md-3">
                    {% for subfield in search_form.preset_sort %}
                        <tr>
                            <td>{{ subfield }}</td>
                            <td>{{ subfield.label }}</td>
                        </tr>
                    {% endfor %}
                </div>
                <div class="form-group col-md-2">
                    <input class="btn btn-default btn-submit" type="submit" value="Filter">
                </div>
            </div>
        </form>

        <div class="row">
            {{ table }}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            $('select.opinion').change(function () {
                $.ajax({
                    method: 'POST',
                    url: '{{ url_for('public.apartments_opinion') }}',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        apartment_id: $(this).data('apartment-id'),
                        opinion_id: $(this).val()
                    })
                });
            });

            // Submit form when radio button is clicked.
            $('input[type=radio]').on('change', function () {
                $(this).closest("form").submit();
            });
        });
    </script>
{% endblock %}
