{% extends "layout.html" %}

{% block content %}
    <div class="body-content">
        <h1>Apartments</h1>

        <form method="GET" action="" role="form">
            {{ search_form.hidden_tag() }}
            <div class="form-group">
                {{ search_form.days.label }}
                {{ search_form.days(placeholder="Last days", class_="form-control") }}
            </div>
            {{ search_form.direction }}
            {{ search_form.order_by }}
            <p><input class="btn btn-default btn-submit" type="submit" value="Filter"></p>
        </form>

        <div class="row">
            {{ table }}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            $('select.opinion').change(function () {
                $.ajax({
                    method: 'POST',
                    url: '{{ url_for('public.apartments_opinion') }}',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        apartment_id: $(this).data('apartment-id'),
                        opinion_id: $(this).val()
                    })
                });
            });
        });
    </script>
{% endblock %}
